.neon {
    text-align: center;
    font-size: 100px;
    color: #fff;
    text-shadow:
      0 0 5px #fff,
      0 0 10px #fff,
      0 0 20px #fff,
      0 0 40px rgb(255, 251, 0),
      0 0 30px rgb(238, 255, 0),
      0 0 20px #f9ffa7,
      0 0 20px rgb(244, 255, 142),
      0 0 50px #fbff00;
  }
form.login-form {
    display: flex;
    flex-direction: column;
    max-width: 310px;
    margin: auto;
    input {
        padding: 10px 13px;
        border-radius: 25px 25px 25px 25px;
        background: none;
        border: none;
        width: 310px;
        color: #fff;
        font-size: 20px;
        box-shadow: 0 0 .2rem #fff,
            0 0 .2rem #fff,
            0 0 .5rem #ffe600,
            0 0 0.8rem #ffe600,
            inset 0 0 1.3rem #ffe600;
            &:focus {
                box-shadow: 0 0 .2rem #fff,
                    0 0 .2rem #fff,
                    0 0 2rem #ffe600,
                    0 0 0.8rem #ffe600,
                    0 0 2rem #ffe600,
                    inset 0 0 1.3rem #ffe600;
            }
    }
    label {
        color: yellow;
        text-shadow:
            0 0 5px #fff,
            0 0 10px #fff,
            0 0 20px #fff,
            0 0 40px rgb(255, 251, 0),
            0 0 30px rgb(238, 255, 0),
            0 0 20px #f9ffa7,
            0 0 20px rgb(244, 255, 142),
            0 0 50px #fbff00;
        padding: 15px;
        text-align: center; 
    }
    button {
        padding: 10px 13px;
        border-radius: 25px 25px 25px 25px;
        background: none;
        width: 108%;
        color: #fff;
        font-size: 20px;
        box-shadow: 0 0 .2rem #fff,
            0 0 .2rem #fff,
            0 0 .5rem #ffe600,
            0 0 0.8rem #ffe600,
            inset 0 0 1.3rem #ffe600;
        cursor: pointer;
        margin: 20px 0;
            &:hover {
                box-shadow: 0 0 .2rem #fff,
                    0 0 .2rem #fff,
                    0 0 2rem #ffe600,
                    0 0 0.8rem #ffe600,
                    0 0 2rem #ffe600,
                    inset 0 0 1.3rem #ffe600;
                background: yellow;
                color: #000;
            }
    }
}