*{
    font-family: Helvetica, Arial, sans-serif;
    margin: 0px;
}

html, body{
    height: 100vh;
    width: 100wh;
    background: #080702;
}

main {
    width: 100%;
}

.mt-1{
    margin-top:5px
}
.mt-5 {
    margin-top: 20px;
}

.mb-1{
    margin-top:5px
}
.mb-5 {
    margin-bottom: 20px;
}
.pointer {
    cursor: pointer;
}
.container {
    max-width: 1024px;
    margin: auto;
}
.container-fluid {
    width: 100%;
    margin: auto;
}
.position-fixed {
    position: fixed;
}
.text-center {
    text-align: center;
}
.m-4 {
    margin: 4rem;
}
.p-4 {
    padding: 4rem;
}
body::-webkit-scrollbar-track
{
	background-color: yellow;
}

body::-webkit-scrollbar
{
	width: 10px;
	background-color: yellow;
}

body::-webkit-scrollbar-thumb
{
	background-color: var(--orange);
	border-radius: 10px;
}
